/* conf 375 px */
*{
    margin: 0 auto;
    font-family: "Ubuntu","sans-serif";
}
html,body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgb(101, 100, 98) 0%, rgb(255, 255, 255) 100%);
    
}
h1{
    margin: 0 auto;
    border-bottom: 1px solid white;
    width: 100%;
    padding: 1% 0;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}
.container_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1% auto 5% auto;
    
}

.city-input{
    border:none;
    border-bottom: 1px solid;
    /* border-radius: 8px; */
    text-align: center;
}
.city-input, #search{
    margin-top: 2%;
}

.weather{
    width: 100%;
    height:min(600px,60vh);
    background-image: url("/images/pexels-simon-berger-1353126.jpg");
    background-size: 100%;
    border-top: 15px solid white;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.weather>p{
    text-shadow: 1px 2px 3px white ;
}

footer{
    display: flex;
    align-items: center;
    width: 100%;
    height:5%;
}


@media(min-width:375px){
    .weather{
        width: 100%;
        height:60vh;
        background-image: url("/images/pexels-simon-berger-1353126.jpg");
        background-size: 100%;
        border: none;
        margin:0;
        border: 5px solid white;
        border-left: none;
        border-right: none;
    }
}